*{
    background-color: rgb(163, 214, 233);
    width: 100;
}
.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    
}
.header{
    display: flex;
    flex-direction: column;
 align-items: center;
 padding-left: 1rem;

}
.container{
    
    /* border: solid red; */
    height: 50vh;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.service{
    border: solid white;
    height: 100%;
    width: 28%;
    /* border-radius: ; */
    /* background-color: white; */
    color: white;
}
.image{
    padding: 0.5rem;
    height: 20;
}